@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container py-5" style="margin-top: 50px;">
    <h2 class="text-center mb-4">Gizlilik Politikası</h2>
    <p>Manav sitemize hoş geldiniz! Gizliliğiniz bizim için çok önemlidir. Bu Gizlilik Politikası, web sitemizi ziyaret ettiğinizde ve etkileşimde bulunduğunuzda kişisel bilgilerinizi nasıl topladığımızı, kullandığımızı ve koruduğumuzu açıklamaktadır.</p>

    <h4>1. Topladığımız Bilgiler</h4>
    <p>Biz, çeşitli türde bilgiler toplarız, bunlar şunlardır:</p>
    <ul>
        <li><strong>Kişisel Bilgiler:</strong> Adınız, e-posta adresiniz, teslimat adresiniz ve ödeme bilgilerinizi içeren detaylar, sipariş verdiğinizde veya kaydolduğunuzda toplarız.</li>
        <li><strong>Kişisel Olmayan Bilgiler:</strong> Web sitemizdeki gezinme davranışınızla ilgili bilgiler toplarız, örneğin ziyaret ettiğiniz sayfalar, IP adresiniz ve cihaz bilgileriniz.</li>
    </ul>

    <h4>2. Bilgilerinizi Nasıl Kullanıyoruz?</h4>
    <p>Bilgilerinizi, kişiselleştirilmiş alışveriş deneyimi sağlamak, siparişlerinizi işlemek, hizmetlerimizi iyileştirmek ve kampanyalar ile güncellemeler hakkında sizinle iletişime geçmek için kullanırız.</p>

    <h4>3. Veri Koruma</h4>
    <p>Verileriniz, endüstri standartlarına uygun şifreleme yöntemleriyle güvenli bir şekilde saklanır ve korunur. Kişisel bilgilerinizi, sizin izniniz olmadan üçüncü şahıslarla paylaşmayız, sadece işlemleri tamamlamak için (örneğin, kargo şirketleri, ödeme işlemcileri) gerekirse paylaşılır.</p>

    <h4>4. Haklarınız</h4>
    <p>Herhangi bir zamanda kişisel verilerinize erişme, güncelleme veya silme hakkınız vardır. Daha fazla bilgi için destek ekibimizle iletişime geçebilirsiniz.</p>

    <h4>5. Bu Politikanın Değiştirilmesi</h4>
    <p>Bu Gizlilik Politikası zaman zaman güncellenebilir. Önemli değişiklikler olduğunda sizi web sitemiz veya e-posta aracılığıyla bilgilendireceğiz.</p>

    <p>Gizlilik Politikamız hakkında herhangi bir sorunuz varsa, lütfen <a href="contact.html">bizimle iletişime geçin</a>.</p>
</div>