@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container py-5" style="margin-top: 50px;">
    <h2 class="text-center mb-4">Satış ve İade Politikası</h2>
    <p>Web sitemizden satın aldığınız ürünlerin satış ve iade işlemleri ile ilgili aşağıdaki politikalara göz atabilirsiniz.</p>

    <h4>1. Satış Koşulları</h4>
    <p>Satın aldığınız tüm ürünler, teslimat adresinize belirttiğiniz süre içinde gönderilecektir. Siparişiniz onaylandığında, ürünlerin fiyatı ve diğer ödeme detayları size bildirilecektir.</p>

    <h4>2. İade Koşulları</h4>
    <p>Ürünlerinizi teslim aldıktan sonra 14 gün içinde iade etme hakkınız vardır. İade edilen ürünler, kullanılmamış ve orijinal ambalajında olmalıdır. Ürün iade işlemi, belirli bir ücretle yapılabilir.</p>

    <h4>3. Ürün Arızası ve Hatalar</h4>
    <p>Satın aldığınız ürünlerde herhangi bir arıza veya hata olması durumunda, ürününüzü değiştirebilir veya ücretinizi geri alabilirsiniz. Arızalı ürünler, teslimattan itibaren 30 gün içinde iade edilebilir.</p>

    <h4>4. İade Süreci</h4>
    <p>İade işlemi başlatmak için müşteri hizmetlerimizle iletişime geçebilirsiniz. İade edilen ürünler, 7 iş günü içinde işleme alınacaktır.</p>

    <p>Satış ve iade politikamız hakkında daha fazla bilgi için <a href="contact.html">bizimle iletişime geçin</a>.</p>
</div>