@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container py-5" style="margin-top: 50px;">
    <h2 class="text-center mb-4">Kullanım Şartları</h2>
    <p>Bu web sitesi, Fruitables manavının sunduğu ürün ve hizmetleri kullanmanızı sağlar. Aşağıda belirtilen kullanım şartlarını kabul ederek web sitemizi kullanmaya başlamış oluyorsunuz.</p>

    <h4>1. Kullanıcı Sorumlulukları</h4>
    <p>Web sitemizi kullanırken, siteye zarar vermemek, diğer kullanıcıları rahatsız etmemek ve yasa dışı faaliyetlerde bulunmamak gibi sorumluluklarınız vardır.</p>

    <h4>2. Ürün Satışı</h4>
    <p>Web sitemizden yaptığınız alışverişlerde, ürünlerinizin fiyatları ve içerikleri tarafımızdan sağlanır. Fiyatlarda değişiklik yapma hakkını saklı tutarız.</p>

    <h4>3. Hesap Güvenliği</h4>
    <p>Hesabınızı oluşturduğunuzda, hesabınızın güvenliği sizden sorumludur. Hesabınızın kötüye kullanımını önlemek için gerekli önlemleri almanız gerekmektedir.</p>

    <h4>4. Yasal Yükümlülükler</h4>
    <p>Web sitemiz üzerinden gerçekleştirilen her işlem, Türkiye Cumhuriyeti yasalarına tabidir. Yasal yükümlülüklerinize uygun hareket etmek sizin sorumluluğunuzdadır.</p>

    <h4>5. Değişiklikler</h4>
    <p>Bu kullanım şartları zaman zaman güncellenebilir. Değişiklikler, web sitemiz üzerinden duyurulacak ve geçerli olacaktır.</p>

    <p>Bu şartlarla ilgili herhangi bir sorunuz varsa, lütfen <a href="contact.html">bizimle iletişime geçin</a>.</p>
</div>